body, html {
    margin: 0;
    padding: 0;
    font-family: Dosis, sans-serif;
    width: 100%;
    background-color: #ffffff;
    letter-spacing: 1px;
}

header {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/************** Kod för navbaren längst upp på sidan **************/

.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000; 
    color: rgb(236, 236, 236);
    padding: 1px 100px;
    font-size: 10px;
    text-transform: uppercase;
}

.top-navbar-left {
    display: flex;
    gap: 25px;
}

.top-navbar-right {
    display: flex;
    gap: 25px;
}

.top-navbar a {
    text-decoration: none;
    color: white;
}

/************** Kod för main menu **************/

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px 80px;
}

.menu-section {
    display: flex;
    align-items: center;
}

.menu-left, .menu-right {
    display: flex;
    gap: 25px;
    text-transform: uppercase;
}

.menu-left a, .menu-right a {
    text-decoration: none;
    color: black;
}


.logo img {
    height: 40px; 
}

.selected {
    background-color: #000;
    color: #fff;
}
.cart-counter {
    color: #000;
    font-size: 16px;
}

.fa-shopping-cart {
    padding-top: 3px;
}


/************** Kod för grid med bild och beskrivning **************/

.grid-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    width: 100%;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position: relative;
}

.product-details {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2px;
    width: 100%; 
}

.news {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #000;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    text-transform: uppercase;
}

.inStock {
    position: absolute;
    top: 2px;
    right: 0px;
    color: #000;
    padding: 5px 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.product-logo img {
    width: 100px;
    height: auto;
}

.product-name {
    font-weight: 500;
    font-size: 18px;
}

.price {
    font-size: 18px;
    font-weight: 900;
}

.choose-size {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}

.size {
    display: flex;
    gap: 10px; 
    justify-content: center;
}

.size button {
    padding: 5px 10px;
    background-color: #ffffff;
    border: 1px solid #818181;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Dosis, sans-serif;
    font-weight: 600;
    color: #333;
}

.size button:hover {
    background-color: #000;
}

.size-btn.selected {
    background-color: black;
    color: white;
}

.add-to-cart {
    margin: 10px auto;
    padding: 12px 8px;
    text-transform: uppercase;
    background-color: #000;
    color: #ffffff;
    font-family: Dosis, sans-serif;
    font-size: 16px;
    width: 60%;
    text-align: center;
}

.article-number {
    text-transform: uppercase;
    font-size: 14px;
    color: #acacac;
}

hr {
    width: 100%;
    text-align: center;
    margin: 0;
}

.accordion {
    color: #9b9b9b;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-size: 14px;
    margin: 10px 0;
    text-transform: uppercase;
    font-family: Dosis, sans-serif;
    background-color: #ffffff;
}

.accordion.active {
    color: #000;
    font-weight: 500;
    padding-bottom: 20px;
}

.panel {
    padding: 0 18px;
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.2s ease-out; 
    font-weight: 600;
}

.accText {
    margin-bottom: 60px;
}


.product p {
    margin: 10px 0 0 0;
}

.products {
    gap: 20px;
}

.product-label {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    color: white;
    padding: 3px 18px;
    font-size: 16px;
    text-transform: uppercase;
}

.more {
    padding-top: 50px;
    padding-bottom: 18px;
    text-transform: uppercase;
    font-weight: 500;
}

.content-section {
    margin: auto;
    width: 90%;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; 
}

.box {
    padding: 0px;
    text-align: center;
}

.left-align {
    text-align: left;
    flex: 1; 
}

.right-align {
    text-align: right;
    flex: 1; 
}

.flex-row .box {
    flex: 1;
}

.flex-row.background-image {
    background-image: url('newsletter_bg.png'); 
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 120px 60px;
    margin-top: 110px;
}

.half-width {
    flex: 1;
}

.product {
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    flex: 1; 
    margin: 0px 0px 30px 0px; 
    padding: 0; 

}

.product img {
    width: 100%;
    height: 78%; 
    object-fit: cover;
}

.product p {
    margin: 10px 0 0 0;
    color: #999999;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: normal;
}

.product-label {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    color: white;
    padding: 3px 18px;
    font-size: 16px;
    text-transform: uppercase;
}

.product h3 {
    text-transform: uppercase;
    letter-spacing: normal;
    font-weight: 800;
}

.products-price {
    font-size: 18px !important; 
    font-weight: 900 !important;
    color: #000 !important;
}

.email-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
}

.input-container {
    display: flex;
    overflow: hidden;
}

input[type="email"] {
    padding: 8px 30px 8px 8px;
    font-size: 16px;
    border: none;
    outline: none;
    flex: 1;
    font-family: Dosis, sans-serif;
    text-transform: uppercase;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-family: Dosis, sans-serif;
    text-transform: uppercase;
}

.socials button {
    padding: 15px 20px;
    font-size: 14px;
    border: 2px solid #000;
    background-color: #e4e4e4;
    color: #000;
    cursor: pointer;
    transition: 0.3s;
    font-family: Dosis, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.socials {
    gap: 15px; 
    justify-content: center;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.socials-section {
    background-color: #e4e4e4;
    padding: 20px 0px;
}

.newsletter h3 {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 500;
}

footer {
    background-color: #000000;
    margin-bottom: 0px;
    color: #ffffff;
    padding: 10% 10%;
}

footer h3 {
    text-transform: uppercase;
    font-size: 16px;
    text-align: left;
    margin-bottom: 0px;
}

footer li {
    list-style: none;
    text-align: left;
    margin: 0px;
    padding: 7px 0px;
}

footer ul {
    padding-inline-start: 0px;
    margin-bottom: 60px;
    margin-top: 0px;
    font-weight: 200;
}

footer p {
    text-align: center;
    padding: 50px;
    font-weight: 200;
    font-size: 12px;
    color: #c9c9c9;
}

footer hr {
    height: 1px;
    background-color: #6a6a6a;
    border: none;
}

@media (min-width: 791px) {
    .menu .fa-bars {
        display: none;
    }
}

@media (max-width: 790px) {

    .top-navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000; 
        color: rgb(236, 236, 236);
        padding: 10px 0px;
        font-size: 10px;
        text-transform: uppercase;
    }

    .top-navbar-left {
        display: none;
    }

    .top-navbar-right {
        padding: 0px;
        gap: 40px;
    }

    .menu .fa-bars {
        display: block;
        margin-right: 20px;
        font-size: 24px;
    }

    .logo {
        display: none;
    }

    .product-logo img {
        margin-top: 30px;    
    }

    .menu {
        display: flex;
        padding: 15px 20px;
    }

    .menu-left {
        display: none;
    }

    .menu-right {
        font-size: 14px;
        gap: 5px;
    }

    .search, .list {
        display: none;
    }

    .grid-container {
        grid-template-columns: 2fr;
    }

    .box right-align {
        display: none;
    }

    .seAll {
        display: none;
    }

    .product img {
        height: 70%;
        width: 100%;
    }

    .news {
        font-size: 15px;
    }

    .product-label {
        display: none;
    }

    .product h3 {
        display: none;
    }
    
    .products-price {
        font-size: 18px !important; 
        font-weight: 900 !important;
        color: #000 !important;
    }

    .product p {
        font-size: 14px;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;
    }

    .flex-row.background-image {
        padding: 60px 20px;
        display: flex;
        flex-direction: column; 
    }

    footer {
        padding: 40px;
        margin-bottom: 0px;
    }
    
    footer .flex-row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2px;
    }

    .categories {
        display: none;
    }

    footer ul {
        margin-bottom: 0px;
    }

    .contact {
        display: none;
    }

    footer p {
        text-align: left;
        padding: 10px 0px;
    }

    input[type="email"] {
        padding: 8px 60px 8px 8px;
    }
}

